<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head',{ stylesFile: 'carrito.css'}) %>
  <body>
    <%- include ('./partials/header') %>
    <main>
      <h1>Mi carrito</h1>
      <div class="sectors">
        <section class="sector1">
          <% carrito.forEach(product => { %>
            <article>
              <div class="father">
                <div>
                  <img  class="productoImage"src="../images/<%= product.image %>" />
                </div>
                <div>
                  <p class="descrip"><%= product.name %></p>
                </div>
                <div>
                  <button type="submit" value="add" class="button-general">
                    +
                  </button>
                  <div class="quantity">
                    <span class="span-quantity">1</span>
                  </div>
                  <button type="submit" value="remove" class="button-general">
                    -
                  </button>
                </div>
                <div>
                  <p class="price">$ <%= product.price %></p>
                </div>
                <form action='/products/<%= product.id %>/carrito/?_method=DELETE' method='POST'>
                  <div class="deleteCart">
                    <button type="submit" value="delete" class="button-general">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                </form>
              </div>
            </article>
          <% }) %>
        </section>
        <section class="sector2">
          <div class="discount">
            <h4>¿Tenés un cupón de descuento?</h4>
            <div class="cupon">
              <div>
                <label for="fname"></label>
                <input class="bar" type="text" placeholder="Código" id="fname" name="codigo">
                <input class="button" type="button" onclick="" value="Aplicar">
              </div>
            </div>
          </div>
          <div class="total">
            <p class="total1">Total $$$$$</p>
            <div class="buttons">
              <button type="submit" value="keepShopping" class="button-general">
               Seguir comprando
              </button>
              <button type="submit" value="emptyCart" class="button-general">
                Vaciar carrito
              </button>
              <button type="submit" value="checkout" class="button-general">
                Finalizar compra
              </button>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>