<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include ('./partials/head',{ stylesFile: 'index.css'}) %>

<body>
    <!-- Header -->
    <%- include ('./partials/header') %>
    <main>

      <form action="/products/search" method="GET">
        <label for="search">Busqueda</label>
        <input type="text" name="valueSearch" id="search" placeholder="Buscar producto por nombre" />
        <button type="submit">
          <div class="hambMenu">
            <i class="fas fa-bars"></i>
          </div>
        </button>
      </form>

      <section class="recomendados">
        <h1 class='title-page'>Nuestros productos</h1>
        <div class="tarjetasProducto">
        <% products.forEach(product => { %>
            <article>
              <a href="/products/<%= product.id %>/detail">
              <img
                class="imagenProducto"
                src="/images/<%= product.image %>"
                alt="<%= product.alt %>"
              />
              <div class="descripcionAritculo">
                <i class="fas fa-truck"></i>
                <p class="precio"> $ <%= product.price %> </p>
                <h4 class="descripcion"> <%= product.description %> </h4>
              </div>
            </article>
          </a>
          <% }) %>
        </div>
        </section>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>