<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head', { stylesFile: 'forms.css'}) %>

  <body>
    <%- include ('./partials/header', valueSearch) %>
    <main>
      <div class="containerForm">
        <div>
          <h2 class="form-title">Formulario de creación de productos</h2>
        </div>
        <form
          action="/products/create"
          method="POST"
          enctype="multipart/form-data"
        >
            <div class="box">
              <div class="formBox">
                <label for="name" class="form-label"
                  >Nombre del producto:</label
                >
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Ej: Nombre del plato"
                  class="form-input"
                  value="<%= data && data.name ? data.name : '' %>"
                />
                <% if(errors && errors.name) { %>
                  <span class="error"><%= errors.name.msg %></span>
                <% } %>
              </div>
              <div class="formBox">
                <label for="price" class="form-label"
                  >Precio del producto:</label
                >
                <input
                  type="text"
                  id="price"
                  name="price"
                  placeholder="Ej: 5678"
                  class="form-input"
                  value="<%= data && data.price ? data.price : '' %>"
                />
                <% if(errors && errors.price) { %>
                  <span class="error"><%= errors.price.msg %></span>
                <% } %>
              </div>
            </div>
            <div class="box">
              <div class="formBox">
                <label for="discount" class="form-label">Descuento:</label>
                <input
                  type="text"
                  id="discount"
                  name="discount"
                  placeholder="Ej: 15"
                  class="form-input"
                  value="<%= data && data.discount ? data.discount : '' %>"
                />
              </div>

              <div class="formBox">
                <label for="category" class="form-label">Categoría:</label>
                <select
                  name="category"
                  id="category"
                  class="form-input"
                  required
                  value="<%= data && data.category ? data.category : '' %>"
                >
                <% category.forEach(c => { %>
                  <option value="<%= c.id %>">
                    <%= c.name %>
                  </option>
                <% }) %>
                </select>
              </div>
            </div>
            <div class="box-textarea">
              <div class="formBox">
                <label for="ingredients" class="form-label">Ingredientes:</label>
                <textarea
                  name="ingredients"
                  id="ingredients"
                  class="form-input"
                > <%= data && data.ingredients ? data.ingredients : '' %> </textarea>
                <% if(errors && errors.ingredients) { %>
                  <span class="error"><%= errors.ingredients.msg %></span>
                <% } %>
              </div>
              <div class="formBox">
                <label for="description" class="form-label">Descripción:</label>
                <textarea
                  name="description"
                  id="description"
                  class="form-input"
                > <%= data && data.description ? data.description : '' %> </textarea>
                <% if(errors && errors.description) { %>
                  <span class="error"><%= errors.description.msg %></span>
                <% } %>
              </div>
              <div class="formBox">
                <label for="nutritional_info" class="form-label"
                  >Informacion nutricional:</label
                >
                <textarea
                  name="nutritional_info"
                  id="nutritional_info"
                  class="form-input"
                > <%= data && data.nutritional_info ? data.nutritional_info : '' %> </textarea>
                <% if(errors && errors.nutritional_info) { %>
                  <span class="error"><%= errors.nutritional_info.msg %></span>
                <% } %>
              </div>
              <div class="formBox">
                <label for="cooking" class="form-label">Modo de coccion:</label>
                <textarea
                  name="cooking"
                  id="cooking"
                  class="form-input"
                > <%= data && data.cooking ? data.cooking : '' %> </textarea>
              </div>
            </div>
            <div class="box">
              <div class="formBox">
                <label for="fileImage" class="form-label"
                  >Imagen del producto:</label
                >
                <input
                  type="file"
                  name="fileImage"
                  id="fileImage"
                  class="form-input"
                />
              </div>
              <div class="formBox">
                <label for="alt" class="form-label"
                  >Texto alternativo imagen:</label
                >
                <textarea 
                name="alt" 
                id="alt" 
                class="form-input"
                >
                <%= data && data.alt ? data.alt : '' %>
              </textarea>
                <% if(errors && errors.alt) { %>
                  <span class="error"><%= errors.alt.msg %></span>
                <% } %>
              </div>
            </div>
            <div class="formBox">
              <button type="submit" class="button-general">
                Guardar producto
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>