<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ('./partials/head',{ stylesFile: 'detail.css'}) %>
 

<body>

  <!-- Header -->
  <%- include ('./partials/header') %>

    <div class="sections-container">
      <section class="section1">
        <div class="title-and-img">
          <h1 class="title"> <%= productToShow.name %> </h1>
          <img class="img" src="/images/<%= productToShow.image %>" alt="<%= productToShow.alt%>" />
        </div>
      </section>
      <section class="section2">
        <div class="articles-container">
          <article>
            <h2 class="title-quantity">Cantidad:</h2>
            <div class="quantity-container">
              <button class="button">-</button>
              <div class="quantity">
                <span class="span-quantity">1</span>
              </div>
              <button class="button">+</button>
            </div>
          </article>
          <article>
            <h2 class="title-prize">Precio:</h2>
            <div class="prize-container">
              <span class="prize"> <%= "$" + " " + productToShow.price %></span>
              <button class="button button-submit" type="submit">
                Agregar
              </button>
            </div>
          </article>
        </div>
        <dl class="description">
          <h2 class="title-description">Descripción:</h2>
          <div class="item-description">
            <dt>Ingredientes:</dt>
            <dd>
              <%= productToShow.ingredients%>
            </dd>
          </div>
          <div class="item-description">
            <dt>Informacion nutricional:</dt>
            <dd><%= productToShow.infoNutricional%></dd>
          <div class="item-description">
            <dt>Preparación y cocción:</dt>
            <dd><%= productToShow.cooking%></dd>
          </div>
        </dl>
      </section>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>