<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head', { stylesFile: 'forms.css'}) %>

    <body>
        <%- include ('./partials/header') %>
        <main>
          <div class="containerForm">
            <div>
              <h2 class="form-title">Formulario de edicion de productos</h2>
            </div>
            <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="box">
                  <div class="formBox">
                    <label for="name" class="form-label"
                      >Nombre del producto:</label
                    >
                    <input
                      type="text"
                      id="name"
                      name="name"
                      placeholder="Ej: Nombre del plato"
                      class="form-input"
                      value="<%=productToEdit.name%>"
                    />
                  </div>
                  <div class="formBox">
                    <label for="price" class="form-label"
                      >Precio del producto:</label
                    >
                    <input
                      type="text"
                      id="price"
                      name="price"
                      placeholder="Ej: 5678"
                      class="form-input"
                      value="<%=productToEdit.price%>"
                    />
                  </div>
                </div>
                <div class="box">
                  <div class="formBox">
                    <label for="discount" class="form-label">Descuento:</label>
                    <input
                      type="text"
                      id="discount"
                      name="discount"
                      placeholder="Ej: 15"
                      class="form-input"
                      value="<%=productToEdit.discount%>"
                    />
                  </div>
    
                  <div class="formBox">
                    <label for="category" class="form-label">Categoría:</label>
                    <select
                      name="category"
                      id="category"
                      class="form-input"
                      required
                    >
                      <% Object.values(category).forEach(c => { %>
                        <option value="<%= c %>" <%= c === productToEdit.category ? 'selected' : '' %>>
                          <%= c %>
                        </option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="box-textarea">
                  <div class="formBox">
                    <label for="ingredientes" class="form-label">Ingredientes:</label>
                    <textarea
                      name="ingredientes"
                      id="ingredientes"
                      class="form-input"
                    ><%=productToEdit.ingredients%></textarea>
                  </div>
                  <div class="formBox">
                    <label for="infoNutricional" class="form-label"
                      >Informacion nutricional:</label
                    >
                    <textarea
                      name="infoNutricional"
                      id="infoNutricional"
                      class="form-input"
                    > <%=productToEdit.infoNutricional%></textarea>
                  </div>
                  <div class="formBox">
                    <label for="cooking" class="form-label">Modo de coccion:</label>
                    <textarea
                      name="cooking"
                      id="cooking"
                      class="form-input"
                    ><%=productToEdit.cooking%></textarea>
                  </div>
                </div>
                <div class="formBox">
                  <label for="alt" class="form-label"
                    >Texto alternativo imagen:</label
                  >
                  <textarea name="alt" id="alt" class="form-input"></textarea>
                </div>
                <div class="box">
                  <div class="formBox">
                    <label for="fileImage" class="form-label"
                      >Imagen del producto:</label
                    >
                    <img src="/images/<%=productToEdit.image%>" alt="<%=productToEdit.alt%>" class="imagenProducto formImage">
                    <input
                      type="file"
                      name="fileImage"
                      id="fileImage"
                      class="form-input"
                      value="/images/<%=productToEdit.image%>"
                      width="50%"
                    />
                  </div>
                </div>
                <div class="box">
                  <div class="formBox">
                    <div class="buttonForm">
                      <button type="submit" class="button-general">
                        Guardar cambios
                      </button>
                    </div>
                  </div>
                  <div class="formBox">
                    <form action="/products/<%=productToEdit.id%>/?_method=DELETE" method="POST">
                      <button type="submit" class="button-general">
                        Eliminar producto
                      </button>
                    </form>
                  </div>
                </div>
              </form>
          </div>
        </main>
      <%- include ('./partials/footer.ejs') %>
    </body>

</html>