<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include ('./partials/head',{ stylesFile: 'index.css'}) %>

<body>
    <!-- Header -->
    <%- include ('./partials/header') %>
    <section>
      <img class="carrosuel" src="/images/wok.png" alt="Home Banner" />
    </section>
    <main>
      <section class="recomendados">
        <h3>Recomendados</h3>
        <div class="tarjetasProducto">
        <% recomendedProducts.forEach(product => { %>
          <article>
            <img
              class="imagenProducto"
              src="/images/<%= product.image %>"
              alt="<%= product.alt %>"
            />
            <div class="descripcionAritculo">
              <i class="fas fa-truck"></i>
              <p class="precio"> $ <%= product.price %> </p>
              <h4 class="descripcion"> <%= product.description %> </h4>
            </div>
          </article>
          <% }) %>
        </div>
        </section>

        <section class="recomendados">
          <h3>Ofertas</h3>
          <div class="tarjetasProducto">
          <% offerProducts.forEach(product => { %>
            <article>
              <img
                class="imagenProducto"
                src="/images/<%= product.image %>"
                alt="<%= product.alt %>"
              />
              <div class="descripcionAritculo">
                <i class="fas fa-truck"></i>
                <p class="precio"> $ <%= product.price %> </p>
                <h4 class="descripcion"> <%= product.description %> </h4>
              </div>
            </article>
            <% }) %>
          </div>
          </section>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>
