<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head', { stylesFile: 'index.css'}) %>
<body>
  <header>
    <div class="topBar">Envios gratis desde $1.000</div>
    <img src="/images/logo-moli.png" alt="Logo Moli" />
    <nav>
      <ul class="nav1">
        <li><a href="/">Inicio</a></li>
        <li><a href="/products/catalog">Productos</a></li>
        <li><a href="/#recommended">Recomendados</a></li>
        <li><a href="/#offers">Ofertas</a></li>
      </ul>
      <% if(userLogged) { %>
      <span>Hola <%= userLogged.name + " " + userLogged.lastname + ", "%> bienvenido!</span>
      <% } %>
      <ul class="nav2">
        <li>
          <form action="/products/search" method="GET" class="searchBar">
            <input
              type="text"
              name="valueSearch"
              id="search"
              placeholder="Buscar por nombre"
            />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li>
          <a href="/products/carrito"><i class="fas fa-shopping-basket"></i></a>
        </li>
        <li>
          <a href="/users/login">Login</a><i class="fas fa-sign-in-alt"></i>
        </li>
      </ul>
    </nav>
    <div class="hambMenu">
      <i class="fas fa-bars"></i>
    </div>
  </header>
    <section>
      <img class="carrosuel" src="/images/wok.png" alt="Home Banner" />
    </section>
    <main>
      <section class="referencia">
        <h3>Buscá tus productos por referencia</h3>
        <div   id= "referencia">
          <article>
            <img
              class="imagenProducto"
              src="/images/proteinas.png"
              alt="alto en proteinas"
            />
            <div class="descripcionAritculo">
              <h4 class="descripcion">Alto en proteinas</h4>
            </div>
          </article>
          <article>
            <img
              class="imagenProducto"
              src="/images/lactosa.png"
              alt="libre de lacteos"
            />
            <div class="descripcionAritculo">
              <h4 class="descripcion">Libre de lacteos</h4>
            </div>
          </article>
          <article>
            <img
              class="imagenProducto"
              src="/images/grasa.png"
              alt="bajo en grasas"
            />
            <div class="descripcionAritculo">
              <h4 class="descripcion">Bajo en grasas</h4>
            </div>
          </article>
          <article>
            <img
              class="imagenProducto"
              src="/images/gluten.png"
              alt="libre de gluten"
            />
            <div class="descripcionAritculo">
              <h4 class="descripcion">Sin TACC</h4>
            </div>
          </article>
          <article>
            <img
              class="imagenProducto"
              src="/images/veggie.png"
              alt="vegetariano"
            />
            <div class="descripcionAritculo">
              <h4 class="descripcion">Vegetariano</h4>
            </div>
          </article>
          <article>
            <img
              class="imagenProducto"
              src="/images/hidratos.png"
              alt="bajo en hidratos"
            />
            <div class="descripcionAritculo">
              <h4 class="descripcion">Bajo en hidratos</h4>
            </div>
          </article>
        </div>
      </section>
      <section class="sobreNosotros">
        <h3>¿Qué nos hace diferentes?</h3>
        <p>
          Creemos que todos merecemos comer rico, saludable y facil, sin
          importar qué tan ocupados estemos en el dia a dia
        </p>
        <ol>
          <li>Ingredientes 100% naturales</li>
          <li>Teconologia de ultra congelado</li>
          <li>Rico, como hecho en casa</li>
        </ol>
      </section>
      <section class="recomendados">
        <h3 id="recommended">Recomendados</h3>
        <div class="tarjetasProducto">
          <% recomendedProducts.forEach(product => { %>
          <article>
            <a href="/products/<%= product.id %>/detail">
            <img
              class="imagenProducto"
              src="/images/<%= product.image %>"
              alt="<%= product.alt %>"
            />
            <div class="descripcionAritculo">
              <i class="fas fa-truck"></i>
              <p class="precio"> $ <%= product.price %> </p>
              <h4 class="descripcion"> <%= product.description %> </h4>
            </div>
          </article>
        </a>
          <% }) %>
        </div>
        </section>
        <section class="recomendados">
          <h3 id="offers">Ofertas</h3>
          <div class="tarjetasProducto">
          <% offerProducts.forEach(product => { %>
            <article>
              <a href="/products/<%= product.id %>/detail">
                <img
                  class="imagenProducto"
                  src="/images/<%= product.image %>"
                  alt="<%= product.alt %>"
                />
                <div class="descripcionAritculo">
                  <i class="fas fa-truck"></i>
                  <p class="precio"> $ <%= product.price %> </p>
                  <h4 class="descripcion"> <%= product.description %> </h4>
                </div>
              </a>
            </article>
            <% }) %>
          </div>
          </section>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>
