<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include ('./partials/head',{ stylesFile: 'forms.css'}) %>

  <body>
    <%- include ('./partials/header', valueSearch) %>
    <main>
      <div class="containerForm">
        <div>
          <h2 class="form-title">Completá tus datos</h2>
        </div>
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            <div class="formBox">
                <div class="formBox">
                    <label for="name" class="form-label"> Nombre </label>
                    <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Ingresá tu nombre "
                    minlength="5"
                    class="form-input"
                    value="<%= data && data.name ? data.name : '' %>"
                    />
                    <% if(errors && errors.name) { %>
                      <span class="error"><%= errors.name.msg %></span>
                    <% } %>
                </div>   
                <div class="formBox"> 
                    <label for="lastName" class="form-label"> Apellido </label>
                    <input
                    type="text"
                    name="lastname"
                    id="lastname"
                    placeholder="Ingresá tu apellido"
                    minlength="5"
                    class="form-input"
                    value="<%= data && data.lastname ? data.lastname : '' %>"
                    />
                    <% if(errors && errors.lastname) { %>
                      <span class="error"><%= errors.lastname.msg %></span>
                    <% } %>
                </div>
                <div class="formBox"> 
                    <label for="user" class="form-label"> Usuario</label>
                    <input
                    type="email"
                    id="user" 
                    name="email"
                    placeholder="Ingresá un e-mail"
                    class="form-input"
                    value="<%= data && data.email ? data.email : '' %>"
                    />
                    <% if(errors && errors.email) { %>
                      <span class="error"><%= errors.email.msg %></span>
                    <% } %>
                </div>
                <div class="box">
                  <div class="formBox">
                    <label for="profileImage" class="form-label"
                      >Imagen de perfil:</label
                    >
                    <input
                      type="file"
                      name="profileImage"
                      id="profileImage"
                      class="form-input"
                    />
                  </div>    
                <div class="formBox"> 
                    <label id="email" class="form-label"> Contraseña </label>
                    <input
                    type="password"
                    name="pass"
                    placeholder="Elegí una contraseña"
                    minlength="8"
                    class="form-input"
                    value="<%= data && data.pass ? data.pass : '' %>"
                    />
                    <% if(errors && errors.pass) { %>
                      <span class="error"><%= errors.pass.msg %></span>
                    <% } %>
                </div>    
                <div class="formBox"> 
                    <label id="email" class="form-label"> Repetir contraseña </label>
                    <input
                    type="password"
                    name="pass_confirm"
                    placeholder="Repetí tu contraseña"
                    class="form-input"
                    value="<%= data && data.pass_confirm ? data.pass_confirm : '' %>"
                    />
                    <% if(errors && errors.pass_confirm) { %>
                      <span class="error"><%= errors.pass_confirm.msg %></span>
                    <% } %>
                </div>    
            </div>
            <div class="formBox">
                <button type="submit" class="button-general">Registrarse</button>
            </div>
            <% if(message) { %>
              <span class="error"><%= message %></span>
            <% } %>
        </form>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
